# BillMax Server
BILLMAX_API_HOST=https://your-billmax-server.com:3100/api/billmaxCoreApi/v1/

# Authentication Mode: NONE, USERPASS, EMAILPASS, OAUTH2
BILLMAX_API_AUTH=NONE

# Required for all modes
BILLMAX_API_KEY=

# Required for USERPASS mode
BILLMAX_API_USERNAME=
BILLMAX_API_PASSWORD=

# Required for OAUTH2 mode (TBD)
# BILLMAX_API_OAUTH2_CLIENT_ID=
# BILLMAX_API_OAUTH2_CLIENT_SECRET=